<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>swiftlang</string>
	<key>BuildVersion</key>
	<string>33</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1103.0.32.9</string>
	<key>ProjectName</key>
	<string>swiftlang</string>
	<key>SourceVersion</key>
	<string>1103000032009000</string>
</dict>
</plist>
